---
import { Image } from "astro:assets";
import { classNames } from "../../../utils";
import { Icon } from "../../atoms";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import Heading from "@components/atoms/Heading.astro";

export type Props = {
  cyphers: {
    title: string;
    info?: string[];
    image?: ImageMetadata;
    images?: ImageMetadata[];
    hints: string[];
    steps: string[];
    solution: string;
  }[];
};

const { cyphers } = Astro.props;
---

<section class="py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="container mx-auto px-4 py-16 sm:px-8 md:px-12 md:py-12 lg:py-8 xl:py-4">
    <header class="mx-auto mb-16 max-w-2xl space-y-6 text-center">
      <Heading level={2} text="Šifry a jejich řešení" variant="light" />
      <p class="mb-12 text-center leading-relaxed font-medium text-slate-700 sm:mb-20">
        Všechny šifry, jejich řešení a nápovědy jsou vám k dispozici
      </p>
    </header>
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 xl:grid-cols-3">
      {
        cyphers.map((cypher, cypherIndex) => (
          <div class="relative h-fit overflow-hidden rounded-[16px] bg-white shadow">
            <h3 class={classNames(cypher.info ? "p-6 text-center text-2xl font-semibold text-slate-900" : "sr-only")}>
              {cypher.title}
            </h3>
            {cypher.info && (
              <div class="space-y-3 px-6 pb-6">
                {cypher.info.map((info) => (
                  <p class="font-medium text-slate-800"> {info}</p>
                ))}
              </div>
            )}

            <div class="relative">
              {cypher.image && <Image src={cypher.image} alt={`Šifra ${cypher.title}`} />}
              {cypher.images && (
                <div class="swiper">
                  <div class="swiper-wrapper">
                    {cypher.images.map((image, index) => (
                      <div class="swiper-slide">
                        <Image src={image} alt={`Šifra ${cypher.title} (${index + 1})`} />
                      </div>
                    ))}
                  </div>

                  <div class="swiper-pagination" />
                  <div class="swiper-button-prev" />
                  <div class="swiper-button-next" />
                </div>
              )}
            </div>
            <details>
              <summary class="flex w-full cursor-pointer items-center justify-center gap-4 bg-green-600/90 px-[40px] py-[15px] font-semibold text-white transition hover:bg-green-600 focus:bg-green-600 focus:outline-none">
                <span>Zobrazit nápovědu</span>
                <Icon icon="lightbulb" className="h-5" />
              </summary>
              <div class="p-6 text-lg">
                <ol class="list-decimal space-y-2 pl-4">
                  {cypher.hints.map((hint) => (
                    <li>{hint}</li>
                  ))}
                </ol>
              </div>
            </details>
            <details>
              <summary class="flex w-full cursor-pointer items-center justify-center gap-4 bg-green-600/90 px-[40px] py-[15px] font-semibold text-white transition hover:bg-green-600 focus:bg-green-600 focus:outline-none">
                <span>Zobrazit řešení</span>
                <Icon icon="list-check" className="h-5" />
              </summary>
              <div class="p-6 text-lg">
                <ol class="mb-4 list-decimal space-y-2 pl-4 text-slate-400">
                  {cypher.steps.map((step) => (
                    <li>
                      <span class="font-normal text-slate-800">{step}</span>
                    </li>
                  ))}
                </ol>
                <p class="rounded-[4px] border border-green-500 bg-green-50 p-2 text-center text-green-700 shadow-sm shadow-green-500/25">
                  Řešení: <strong>{cypher.solution}</strong>
                </p>
              </div>
            </details>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { A11y, Navigation, Pagination } from "swiper/modules";
  const swiper = new Swiper(".swiper", {
    modules: [Navigation, Pagination, A11y],
    spaceBetween: 0,
    slidesPerView: 1,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      clickable: false,
      el: ".swiper-pagination",
      bulletActiveClass: "active",
    },
  });
</script>
