---
import { Image } from "astro:assets";
import { ButtonExternalLink } from "../../atoms";

export type Props = {
    title: string;
    description: string;
    date: Date
    galleryLink: string;
    image: ImageMetadata
};

const {title, description, date, galleryLink, image} = Astro.props;
---

<section class="relative bg-white pb-24">
    <div class="relative pt-12">
      <div
        class="container relative z-20 mx-auto px-4 text-center sm:px-8 md:px-12"
      >
        <div class="relative mb-12">
          <Image
            src={image}
            alt={`${title}-${new Date(date).toLocaleDateString("cs")}`}
            class="max-h-[20rem] w-full rounded-xl shadow-lg shadow-blue-800/25 saturate-[125%] sm:max-h-[24rem] md:max-h-[28rem] lg:max-h-[32rem] xl:max-h-[36rem] object-cover aspect-[4/3]"
          />
        </div>
      </div>
      <div
        class="absolute left-0 right-0 top-0 h-1/2 bg-gradient-to-b from-blue-50 to-white"
      >
      </div>
    </div>

    <div class="container mx-auto max-w-7xl px-4 text-center sm:px-8 md:px-12">
      <h1
        class="mb-6 text-3xl font-bold text-gray-900 sm:text-4xl md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>
      <div class="mb-8 flex justify-center">
        <time
          datetime={new Date(date).toISOString()}
          class="block rounded-[8px] bg-blue-100 px-[20px] py-[10px] text-sm font-semibold text-blue-500 sm:text-base"
        >
          {new Date(date).toLocaleDateString("cs")}{" "}
        </time>
      </div>
      <p
        class="mb-12 text-center leading-loose text-gray-800 sm:text-lg sm:leading-loose lg:text-xl lg:leading-loose"
      >
        {description}
      </p>
      <div class="flex justify-center">
        <ButtonExternalLink
          variant="green"
          href={galleryLink}
          text="Zobrazit fotogalerii"
          icon="facebook"
        />
      </div>
    </div>
  </section>