---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { classNames } from '../../utils';
import Container from '../atoms/Container.astro';
import Heading from '../atoms/Heading.astro';
import { Button } from '../atoms/NewButton';

const events = await getCollection('events');
events.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Container>
  <section class="space-y-12 py-12 text-center md:space-y-16 md:py-16 lg:space-y-24 lg:py-24">
    <Heading level={1} variant="light" text="Archiv událostí" />
    <div class="grid gap-12 text-left md:grid-cols-2 md:gap-14 lg:gap-16 xl:grid-cols-3">
      {
        events.map((event) => (
          <article class="group overflow-hidden ">
            <a
              class="block overflow-hidden rounded-xl border border-slate-200 shadow-sm"
              href={`/udalosti/${event.id}`}
              title={event.data.title}
            >
              <Image
                src={event.data.image}
                alt={event.data.title}
                class="aspect-[3/2] object-cover transition duration-500 group-hover:scale-110"
                loading="lazy"
              />
            </a>
            <div class="relative pb-4 pt-6">
              <time
                datetime={new Date(event.data.date).toISOString()}
                class={classNames(
                  'absolute left-1/2 top-0 mb-4 -translate-x-1/2 -translate-y-1/2 border-2 border-slate-50 shadow-sm',
                  'rounded-full bg-green-700 bg-gradient-to-b  px-3.5 py-px text-xs font-medium uppercase leading-5 tracking-wide text-white',
                )}
              >
                {new Date(event.data.date).toLocaleDateString('cs')}{' '}
              </time>
              <h3 class="mb-2 text-lg font-extrabold text-slate-900 transition duration-500 group-hover:text-black md:mb-3 md:text-xl lg:text-2xl">
                {event.data.title}
              </h3>
              <p class="mb-4 line-clamp-4 text-left text-sm font-medium leading-relaxed text-slate-600 transition duration-500 group-hover:text-slate-900 md:text-base md:leading-relaxed">
                {event.data.description}
              </p>
              <div class="flex justify-end lg:justify-start">
                <Button text="Více informací" to={`/udalosti/${event.id}`} size="small" />
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </section>
</Container>
