---
import { Image } from 'astro:assets';

import image1 from '../../images/IMG_1.jpg';
import image2 from '../../images/IMG_2.jpg';
import image3 from '../../images/IMG_3.jpg';
import image4 from '../../images/IMG_4.jpeg';
import image5 from '../../images/IMG_5.jpg';
import image6 from '../../images/IMG_6.jpeg';
---

<section class="relative bg-gradient-to-b from-blue-50 via-slate-200 to-blue-50 py-8" id="photos">
  <div class="mx-auto px-4 sm:px-8 md:px-12 lg:px-16">
    <div class="mx-auto flex max-w-lg flex-wrap lg:max-w-full lg:flex-nowrap lg:items-center">
      <div class="w-full p-3 lg:w-1/4">
        <Image
          class="mx-auto rounded-lg object-cover shadow-lg shadow-blue-700/20"
          src={image1}
          alt=""
          loading="lazy"
        />
      </div>
      <div class="flex w-full flex-col lg:w-2/4">
        <div class="flex items-end">
          <div class="w-2/3 p-3">
            <Image class="rounded-lg object-cover shadow-lg shadow-blue-700/20" src={image2} alt="" loading="lazy" />
          </div>
          <div class="w-1/3 p-3">
            <Image
              class="h-48 rounded-lg object-cover shadow-lg shadow-blue-700/20 lg:h-48 xl:h-64"
              src={image3}
              alt=""
              loading="lazy"
            />
          </div>
        </div>
        <div class="hidden items-start md:flex">
          <div class="w-1/3 p-3">
            <Image
              class="h-48 rounded-lg object-cover shadow-lg shadow-blue-700/20 lg:h-36 xl:h-48"
              src={image4}
              alt=""
              loading="lazy"
            />
          </div>
          <div class="w-2/3 p-3">
            <Image class="rounded-lg object-cover shadow-lg shadow-blue-700/20" src={image5} alt="" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="w-full p-3 lg:w-1/4">
        <Image class="rounded-lg object-cover shadow-lg shadow-blue-700/20" src={image6} alt="" loading="lazy" />
      </div>
    </div>
  </div>
</section>
