---
import { Image } from 'astro:assets';
import tailwindColors from 'tailwindcss/colors';
import cgeImage from '../../images/sponsors/cge.png';
import cnImage from '../../images/sponsors/cn_group.png';
import papirflyImage from '../../images/sponsors/papirfly.png';
import vitarImage from '../../images/sponsors/vitar.png';
import zivyZlinImage from '../../images/sponsors/zivy_zlin.png';
import PatternRectangle from '../atoms/PatternRectangle.astro';

const sponsors = [
  {
    image: zivyZlinImage,
    title: 'Živý Zlín',
    link: 'https://www.kulturazlin.cz/',
    height: 52,
  },
  {
    image: papirflyImage,
    title: 'Papirfly',
    link: 'https://www.papirfly.com/',
    height: 44,
  },
  {
    image: cgeImage,
    title: 'Czech Games Edition',
    link: 'https://czechgames.com/cs/',
    height: 56,
  },
  {
    image: vitarImage,
    title: 'Viter',
    link: 'https://vitar.cz/',
    height: 52,
  },
  {
    image: cnImage,
    title: 'CN Group',
    link: 'https://cngroup.cz/',
    height: 52,
  },
];
---

<section class="container relative mx-auto overflow-hidden px-4 py-32">
  <div class="pointer-events-none absolute left-0 top-0 flex h-full w-full items-center justify-center overflow-hidden">
    <PatternRectangle
      class=""
      backgroundColor={tailwindColors.slate[100]}
      lineColor={tailwindColors.slate[300]}
      spotColor={tailwindColors.slate[100]}
      id="sponsors"
    />
  </div>
  <div class="relative">
    <h2 class="mb-12 text-center text-xl font-medium tracking-wide text-slate-500">S pomocí našich sponzorů:</h2>
    <nav aria-label="Sponzoři" title="Sponzoři" class="flex items-center justify-center gap-8">
      {
        sponsors.map((sponsor) => (
          <a
            href={sponsor.link}
            target="_blank"
            title={sponsor.title}
            rel="noopener noreferrer external"
            class="block rounded-lg px-4 py-4 transition duration-300 hover:scale-105 focus:scale-105 focus:outline-none lg:py-0"
          >
            <Image
              src={sponsor.image}
              alt={sponsor.title}
              class="overflow-hidden rounded-lg"
              height={sponsor.height}
              loading="eager"
            />
          </a>
        ))
      }
    </nav>
  </div>
</section>
