---
import Heading from '../atoms/Heading.astro';
import Subtitle from '../atoms/Subtitle.astro';

interface Props {
  variant: 'light' | 'dark';
  title: string;
  subtitle: string;
  text: string;
  extraClass?: string;
}

const { variant, title, subtitle, text, extraClass } = Astro.props;
---

<header class:list={['space-y-4 md:space-y-5 lg:space-y-6', extraClass]}>
  <Subtitle text={subtitle} variant={variant} />
  <Heading level={2} text={title} variant={variant} />
  <p class="max-w-4xl font-medium leading-loose text-slate-600 md:text-lg md:leading-loose xl:text-xl xl:leading-loose">
    {text}
  </p>
</header>
