---
import Heading from '@components/atoms/Heading.astro';
import { Icon } from '@components/atoms/Icon';
import { Button } from '@components/atoms/NewButton';
import Pattern from '@components/atoms/Pattern.astro';
import Subtitle from '@components/atoms/Subtitle.astro';
import Wave from '@components/atoms/Wave.astro';
import LogoAlt from '@images/Logo-Alt.png';
import { Image } from 'astro:assets';
import tailwindColors from 'tailwindcss/colors';

const items = [
  'KDY - Sejdeme se v sobotu 7.6.2025 ve 14:00.',
  'KDE - Tohle je코t캩 up콏esn칤me 游뗵',
  'UKON캛EN칈 - V 18:00 na m칤st캩, kter칠 zjist칤te v pr콢b캩hu hry. ',
];
---

<Wave class="h-92 -mb-px w-full rotate-180 text-slate-800" />
<section class="relative mx-auto overflow-hidden bg-slate-800" id="aktuality">
  <Pattern
    class="absolute left-0 top-[50%] -translate-y-1/2"
    backgroundColor={tailwindColors.slate[800]}
    lineColor={tailwindColors.slate[700]}
    spotColor={tailwindColors.slate[800]}
    width={1440}
    height={992}
    id="announecement"
  />
  <div class="container mx-auto px-4 py-24">
    <div class="relative grid grid-cols-2 items-center gap-8">
      <div class="space-y-6">
        <div class="space-y-3">
          <Subtitle variant="dark" text="Aktuality" />
          <Heading level={2} variant="dark" text="Lu코t캩niny 2025 jsou zde!" />
        </div>
        <p class="max-w-2xl text-xl leading-relaxed text-slate-300">
          A je to venku, t칤mto bychom r치di ofici치ln캩 ozn치mili, 쬰 8. ro캜n칤k Lu코t캩nin ohl치코en! T칠matem leto코n칤ch Lu코t캩nin
          bude Zl칤nsk치 architektura 游끼!
        </p>
        <ul class="space-y-4 text-lg font-semibold text-slate-300">
          {
            items.map((item) => (
              <li class="flex items-center gap-3">
                <div class="relative">
                  <div class="absolute left-1/2 top-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white" />
                  <Icon icon="check-circle" className="relative h-6 w-6 text-green-600" />
                </div>
                <span>{item}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="">
        <div
          class="relative flex flex-col items-center justify-center rounded-2xl bg-white px-16 py-12 text-center shadow-2xl shadow-black/40"
        >
          <Image
            src={LogoAlt}
            alt=""
            class="absolute left-1/2 top-0 h-14 w-14 -translate-x-1/2 -translate-y-1/2 rounded-xl shadow-lg shadow-green-800/20"
          />
          <Heading level={3} variant="light" text="Registruj sv콢j t칳m!" />
          <p class="mb-5 text-lg leading-relaxed text-slate-600">
            Sv콢j t칳m m콢쬰코 registrovat naps치n칤m koment치콏e s n치zvem t칳mu a po캜tem 캜len콢 na facebookov칠 ud치losti, nebo n치m
            m콢쬰코 napsat email.
          </p>
          <div class="mb-4 flex flex-col items-center justify-center space-y-2.5">
            <Button
              text="Registrovat se emailem"
              icon="mail"
              externalHref="mailto:info@lusteniny.eu?subject=Registrace%20t%C3%BDmu%20na%20Lu%C5%A1t%C4%9Bniny%202025&body=Dobr%C3%BD%20den%2C%0D%0A%0D%0Acht%C4%9Bli%20bychom%20registrovat%20sv%C5%AFj%20t%C3%BDm%20na%20ud%C3%A1losti%20Lu%C5%A1t%C4%9Bniny%202025%20(07.06.2025).%0D%0A%0D%0AN%C3%A1zev%20t%C3%BDmu%3A%20_____%0D%0APo%C4%8Det%20%C4%8Dlen%C5%AF%3A%20_____"
            />
            <Button
              text="Registrovat se facebookem"
              icon="facebook"
              color="blue"
              externalHref="https://www.facebook.com/events/1130264062005151/"
            />
          </div>
          <p class="mx-auto max-w-md text-sm text-slate-500">
            P콏ihl치코en칤 lze prov칠st i na m칤st캩, ale vzhledem k n치ro캜nosti p콏칤prav v치s pros칤me o p콏ed캜asnou registraci
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<Wave class="h-92 -mb-px w-full bg-white text-slate-800" />
