---
import Container from "@components/atoms/Container.astro";
import { Icon, type IconType } from "@components/atoms/Icon";
import Pattern from "@components/atoms/Pattern.astro";
import Section from "@components/atoms/Section.astro";
import SectionHeader from "@components/molecules/SectionHeader.astro";
import img from "@images/Zlin.jpg";
import { Image } from "astro:assets";
import tailwindColors from "tailwindcss/colors";

const features: Feature[] = [
  {
    icon: "route",
    title: "Krátká procházka Zlínem",
    description:
      "Čeká na tebe krátká procházka Zlínem lemovaná stanovišti s šiframi a tvým úkolem bude, jich vyluštit co nejvíc.",
  },
  {
    icon: "marker",
    title: "Stanoviště s šiframi",
    description:
      "Na každém stanovišti na tebe bude čekat jeden z organizátorů, který ti předá zadání a případně pomůže s čím bude potřeba.",
  },
  {
    icon: "pencil",
    title: "Připravené pomůcky",
    description:
      "Před zahájením dostaneš vše potřebné k luštění, včetně propisek, papírů a praktického taháku na šifry.",
  },
  {
    icon: "child",
    title: "Šifry i pro děti",
    description:
      "Můžeš s sebou vzít i děti, protože pro ně budou připravené jednodušší šifry, aby si akci užily stejně jako dospělí.",
  },
  {
    icon: "phone",
    title: "Řešení šifer v telefonu",
    description:
      "Pro účastníky šifrovačky bude připravena webová aplikace, kde bude například možnost šifru odevzat a získat místo dalšího stanoviště.",
  },
  {
    icon: "award",
    title: "Vyhlášení vítězů",
    description:
      "Na konci události tě bude čekat vyhlášení vítězů, předání cen a nějaký ten networking včetně občerstvení.",
  },
];

type Feature = {
  icon: IconType;
  title: string;
  description: string;
};
---

<Section id="informace" extraClass="bg-white">
  <Pattern
    class="absolute top-[50%] left-0 -translate-y-1/2"
    backgroundColor={tailwindColors.white}
    lineColor={tailwindColors.slate[200]}
    spotColor={tailwindColors.white}
    width={1440}
    height={992}
    id="info"
  />
  <Container extraClass="space-y-12">
    <div class="grid gap-12 md:grid-cols-2">
      <SectionHeader
        title="Co tě bude čekat na Luštěninách?"
        subtitle="Informace"
        text="Luštěniny jsou zábavná šifrovací akce, kde si procvičíš logické myšlení a užiješ si příjemnou atmosféru. Akce je vhodná pro všechny, včetně dětí. Podívej se, co tě čeká!"
        variant="light"
        extraClass="w-full"
      />
      <div class="mb-8 w-full md:mb-16">
        <Image src={img} alt="" class="ml-auto w-full rounded-2xl object-cover md:max-w-lg" fit="cover" />
      </div>
    </div>
    <ul class="grid gap-x-8 gap-y-10 md:grid-cols-2 md:gap-10 xl:grid-cols-3 xl:gap-12">
      {
        features.map((feature, index) => (
          <li class="flex flex-col items-start justify-center space-y-4">
            <div class="flex size-14 items-center justify-center rounded-md bg-green-500 text-white shadow-sm">
              <Icon icon={feature.icon} className="h-6" />
            </div>
            <h3 class="text-xl font-bold text-slate-700 md:text-2xl">{feature.title}</h3>
            <p class="leading-relaxed text-slate-600 sm:text-lg sm:leading-relaxed">{feature.description}</p>
          </li>
        ))
      }
    </ul>
  </Container>
</Section>
