---
import PatternRectangle from '@components/atoms/PatternRectangle.astro';
import exitRoomImage from '@images/sponsors/exit_room_2.png';
import papirflyImage from '@images/sponsors/papirfly.png';
import zivyZlinImage from '@images/sponsors/zivy_zlin.png';
import { Image } from 'astro:assets';
import tailwindColors from 'tailwindcss/colors';

const sponsors = [
  {
    image: zivyZlinImage,
    title: 'Živý Zlín',
    link: 'https://www.kulturazlin.cz/',
    height: 52,
  },
  {
    image: papirflyImage,
    title: 'Papirfly',
    link: 'https://www.papirfly.com/',
    height: 44,
  },
  {
    image: exitRoomImage,
    title: 'Exit room Zlín',
    link: 'https://www.exitroomzlin.cz/',
    height: 56,
  },
];
---

<section class="container relative mx-auto overflow-hidden px-4 py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="pointer-events-none absolute left-0 top-0 flex h-full w-full items-center justify-center overflow-hidden">
    <PatternRectangle
      class=""
      backgroundColor={tailwindColors.slate[100]}
      lineColor={tailwindColors.slate[300]}
      spotColor={tailwindColors.slate[100]}
      id="sponsors"
    />
  </div>
  <div class="relative">
    <h2 class="mb-8 text-center text-xl font-medium tracking-wide text-slate-500 md:mb-12">
      S pomocí našich sponzorů:
    </h2>
    <nav aria-label="Sponzoři" title="Sponzoři" class="flex flex-wrap items-center justify-center gap-8">
      {
        sponsors.map((sponsor) => (
          <a
            href={sponsor.link}
            target="_blank"
            title={sponsor.title}
            rel="noopener noreferrer external"
            class="block rounded-lg p-2 transition duration-300 hover:scale-105 focus:scale-105 focus:outline-none sm:p-3 md:p-4 lg:py-0"
          >
            <Image
              src={sponsor.image}
              alt={sponsor.title}
              class="h-6 w-fit overflow-hidden rounded-lg object-contain sm:h-7 md:h-auto "
              height={sponsor.height}
              loading="eager"
            />
          </a>
        ))
      }
    </nav>
  </div>
</section>
